
@font-face {
  font-family: 'Autumn in November';
  src: url('autumn-in-november.eot');
  src: url('autumn-in-november.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$lightest-pink: #fffafc;
$light-pink: #ffeaeb;
$dark-pink: #dd8a8b;
$light-green: #d9f4d9;

.bg-pink {
  background-color: $light-pink;
}

.bg-pink-flower {
  background-image: url(../img/pink-flower.png);
	background-size: 500px 500px;
	background-repeat: repeat;
}

.bg-green-leaf {
  background-image: url(../img/leaf-wallpaper.png);
	background-size: 600px 600px;
	background-repeat: repeat;
}


.bg-green {
  background-color: $light-green;
}

.text-align-center {
  text-align: center;
}

.cong-and-margi {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  h1, h2, h3, h4, h5 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
  }
  #mainNav {
    background-color: $lightest-pink;
    box-shadow: 0 0 15px #333;
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        .nav-link.active {
          color: $dark-pink;
          font-weight: 400;
        }
      }
    }
  }
  .header {
    .header-text {
      position: absolute;
      width: 100vw;
      text-align: center;
      top: 86px;
      color: #fff;
      h1 {
        font-size: 72px;
      }
      h3 {
        font-size: 36px;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: pink;
      }
    }
    .header-img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  $photo-size: 250px;
  $polaroid-padding: 30px;
  $polaroid-side-padding: 15px;
  $timeline-width: calc(#{$photo-size} + #{$polaroid-padding} + #{$polaroid-padding});
  #our-story {
    .polaroid-timeline {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;
      margin: 0 auto;

      .polaroid-photo {
        border-radius: 5px;
        box-shadow: 5px 5px 30px #ddd;
        background-color: white;
        padding: $polaroid-padding $polaroid-side-padding $polaroid-side-padding;
        margin: 20px 12px;

        .polaroid-img {
          position: relative;
          width: $photo-size;
          height: $photo-size;
          margin-bottom: 5px;
          img {
            width: $photo-size;
            height: $photo-size;
          }
          .polaroid-img-shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 10px 0 #aaa;
            top: 0;
            left: 0;
          }
        }

        .polaroid-header {
          font-family: 'Shadows Into Light', cursive;
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 5px;
          .date {
            font-style: italic;
          }
        }
        .polaroid-caption {
          width: $photo-size;
          overflow: scroll;
          font-size: 12px;
        }
      }
    }
  }
  #details {
    padding: 0;
    > .row {
      margin: 0;
    }
    hr {
      width: 50%;
      border-top: dotted 1px #777;
    }
    .content {
      margin: 150px 0;
      .schedule {
        .time {
          text-align: right;
        }
        .event {

        }
      }
    }
    .nestldown-img {
      margin-left: -15px;
      width: 100vw;
      object-fit: cover;
    }
  }
  #wedding-party {
    .wedding-party-image {
      border-radius: 50%;
      border: 4px solid white;
      width: 200px;
      height: 200px;
      margin: 0 auto 12px;
      overflow: hidden;
    }
  }
  #faq {
    .q-and-a {
      margin: 20px 0;

      .question {
        font-weight: 800;
        font-size: 18px;
        color: $dark-pink;
      }
      .answer {
      }
    }
  }
}

@media (max-width: 768px) {
  .cong-and-margi {
    .header {
      .header-text {
        h1 {
          font-size: 36px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .cong-and-margi {
    #mainNav {
      padding-bottom: 0;
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 8px 16px;
            &.active {
              color: $dark-pink;
              font-weight: 400;
              border-bottom: 6px solid $dark-pink;
            }
          }
        }
      }
    }
    #details {
      .nestldown-img {
        width: 50vw;
        height: 100%;
      }
    }
  }
}
