@font-face {
  font-family: 'Autumn in November';
  src: url("autumn-in-november.eot");
  src: url("autumn-in-november.ttf") format("truetype"); }

.bg-pink {
  background-color: #ffeaeb; }

.bg-pink-flower {
  background-image: url(../img/pink-flower.png);
  background-size: 500px 500px;
  background-repeat: repeat; }

.bg-green-leaf {
  background-image: url(../img/leaf-wallpaper.png);
  background-size: 600px 600px;
  background-repeat: repeat; }

.bg-green {
  background-color: #d9f4d9; }

.text-align-center {
  text-align: center; }

.cong-and-margi {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .cong-and-margi h1, .cong-and-margi h2, .cong-and-margi h3, .cong-and-margi h4, .cong-and-margi h5 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center; }
  .cong-and-margi #mainNav {
    background-color: #fffafc;
    box-shadow: 0 0 15px #333; }
    .cong-and-margi #mainNav .navbar-nav {
      margin: 0 auto; }
      .cong-and-margi #mainNav .navbar-nav .nav-item .nav-link.active {
        color: #dd8a8b;
        font-weight: 400; }
  .cong-and-margi .header .header-text {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 86px;
    color: #fff; }
    .cong-and-margi .header .header-text h1 {
      font-size: 72px; }
  .cong-and-margi .header .header-subtext {
    position: absolute;
    text-align: center;
    bottom: 60px;
    width: 100vw; }
    .cong-and-margi .header .header-subtext h3 {
      padding: 10px;
      border-radius: 5px;
      background-color: rgba(255, 210, 210, 0.6);
      font-size: 30px;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: white;
      width: fit-content;
      margin: 0 auto;
      font-variant: small-caps; }
  .cong-and-margi .header .header-img {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
  .cong-and-margi #our-story .polaroid-timeline {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto; }
    .cong-and-margi #our-story .polaroid-timeline .polaroid-photo {
      border-radius: 5px;
      box-shadow: 5px 5px 30px #ddd;
      background-color: white;
      padding: 30px 15px 15px;
      margin: 20px 12px; }
      .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-img {
        position: relative;
        width: 250px;
        height: 250px;
        margin-bottom: 5px; }
        .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-img img {
          width: 250px;
          height: 250px; }
        .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-img .polaroid-img-shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 10px 0 #aaa;
          top: 0;
          left: 0; }
      .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-header {
        font-family: 'Shadows Into Light', cursive;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px; }
        .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-header .date {
          font-style: italic; }
      .cong-and-margi #our-story .polaroid-timeline .polaroid-photo .polaroid-caption {
        width: 250px;
        overflow: scroll;
        font-size: 12px; }
  .cong-and-margi #details {
    padding: 0; }
    .cong-and-margi #details > .row {
      margin: 0; }
    .cong-and-margi #details hr {
      width: 50%;
      border-top: dotted 1px #777; }
    .cong-and-margi #details .content {
      margin: 150px 0; }
      .cong-and-margi #details .content .schedule .time {
        text-align: right; }
    .cong-and-margi #details .nestldown-img {
      margin-left: -15px;
      width: 100vw;
      object-fit: cover; }
  .cong-and-margi #wedding-party .wedding-party-image {
    border-radius: 50%;
    border: 4px solid white;
    width: 200px;
    height: 200px;
    margin: 0 auto 12px;
    overflow: hidden; }
  .cong-and-margi #photos .photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .cong-and-margi #photos .photo-gallery .photo {
      margin: 2px;
      width: 150px;
      height: 150px; }
  .cong-and-margi #faq .q-and-a {
    margin: 20px 0; }
    .cong-and-margi #faq .q-and-a .question {
      font-weight: 800;
      font-size: 18px;
      color: #dd8a8b; }

@media (max-width: 768px) {
  .cong-and-margi .header .header-text h1 {
    font-size: 36px; }
  .cong-and-margi .header .header-text h3 {
    font-size: 18px; } }

@media (min-width: 768px) {
  .cong-and-margi #mainNav {
    padding-bottom: 0; }
    .cong-and-margi #mainNav .navbar-nav .nav-item .nav-link {
      padding: 8px 16px; }
      .cong-and-margi #mainNav .navbar-nav .nav-item .nav-link.active {
        color: #dd8a8b;
        font-weight: 400;
        border-bottom: 6px solid #dd8a8b; }
  .cong-and-margi #details .nestldown-img {
    width: 50vw;
    height: 100%; } }
