
.cong-and-margi {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#mainNav {
  background-color: #fff;
}
.header {
  position: relative;
}
.header-text {
  position: absolute;
  top: 76px;
  left: 20px;
}
.header-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 40% 50%;
}
